@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #333;
  align-items: center;
  justify-content: center;
  margin: 1.2rem;
  /* height: 100vh; */
  /* background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex; */
}

h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

ul {
  font-size: 1.3rem;
}

.panel_view {
  display: flex;
  flex-grow: 1;
  padding: 1em max(1em, calc(50vw - 35ch));
  place-items: center;
}

.panel_view > * {
  flex-grow: 1;
}

.bg-1 {
  background-image: radial-gradient(
    circle farthest-corner at 1.5% 1.4%,
    rgba(159, 227, 255, 1) 0%,
    rgba(255, 177, 219, 1) 100.2%
  );
}

.panel__header,
.panel__content {
  padding: var(--panel-padding);
}

.panel__title {
  line-height: 1;
}

.error {
  font-weight: bold;
  color: red;
}

.hidden {
  visibility: hidden;
}

.content-table {
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 1.2rem;
  min-width: 400px;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #333;
  color: #fff;
  text-align: left;
  font-weight: bold;
  text-transform: capitalize;
}

.content-table thead tr.to-upper {
  text-transform: uppercase;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #333;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #333;
}

.content-table tbody tr.active-row {
  color: rgba(0, 0, 0, 0.35);
  font-weight: bold;
}

.footer-notes ul {
  margin-bottom: 0;
  font-size: 1rem;
}

.footer-notes h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
